<!-- end: content -->
<script src="/js/bootstrap.bundle.js"></script>
<footer>
    <div class="my_footer_background">
        <div class="container my_footer">
            <div><p>Recipering</p></div>
            <div><p>Copyright</p></div>
        </div>
    </div>
</footer>
</body>
</html>