<!-- end: content -->
<script src="/js/bootstrap.bundle.js"></script>
<footer>
    <div class="my_footer">
        <div class="footer_name"><p>Recipering</p></div>
        <div class="footer_copyright"><p>Copyright</p></div>
    </div>
</footer>
</body>
</html>