<%- include('head',{pageTitle:'Recipering'}) -%>
<!-- start: content -->
<%- include('navbar',{authenticated:false}) %>
<main>
  <div class="container">
      <div class="jumbotron">
          <h1 class="display-4">Welcome to Recipering</h1>
          <p class="lead">Discover and share delicious recipes with the community.</p>
      </div>
  
      <h2>Latest Recipes</h2>
      <hr>
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Recipe Card 1 -->
          <div class="col-lg-4 col-md-6 col">
            <div class="card h-100">
              <a href="/recipe/details/:recipeid">
                  <img src="https://www.saltandlavender.com/wp-content/uploads/2020/04/tomato-goat-cheese-pasta-recipe-1-1024x1536.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Delicious Pasta</h5>
                    <p class="card-text">A classic pasta dish with homemade sauce.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-body-secondary">By Chef John • 30 mins ago</small>
                  </div>
              </a>
            </div>
          </div>
          <!-- Recipe Card 2 -->
          <div class="col-lg-4 col-md-6 col">
            <div class="card h-100">
              <a href="/recipe/details/:recipeid">
                  <img src="https://kep.cdn.indexvas.hu/1/0/1585/15856/158567/15856775_2dd2e30efeac2c5ff98b354f920c3f2f_wm.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Homemade Pizza</h5>
                    <p class="card-text">Create your own pizza masterpiece at home.</p></div>
                  <div class="card-footer">
                    <small class="text-body-secondary">By Chef John • 1 hour ago</small>
                  </div>
              </a>
            </div>
          </div>
          <!-- Recipe Card 3 -->
          <div class="col-lg-4 col-md-6 col">
            <div class="card h-100">
              <a href="/recipe/details/:recipeid">
                  <img src="https://www.recipetineats.com/wp-content/uploads/2018/03/Chocolate-Cake_2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Chocolate Cake</h5>
                    <p class="card-text">Indulge in this rich and moist chocolate cake.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-body-secondary">By Mary Smith • 2 hours ago</small>
                  </div>
              </a>
            </div>
          </div>
          <!-- Recipe Card 4 -->
          <div class="col-lg-4 col-md-6 col">
              <div class="card h-100">
                  <a href="/recipe/details/:recipeid">
                      <img src="https://www.recipetineats.com/wp-content/uploads/2018/03/Chocolate-Cake_2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Chocolate Cake</h5>
                        <p class="card-text">Indulge in this rich and moist chocolate cake.</p></div>
                      <div class="card-footer">
                        <small class="text-body-secondary">By Mary Smith • 2 hours ago</small>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</main>
<%- include('footer') -%>