<%- include('head',{pageTitle:'Recipering'}) -%>
<!-- start: content -->
<%- include('navbar',{authenticated:isAuthenticated,userId:(typeof _userId==='undefined') ? 0 : _userId}) %>
<main>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Recipering</h1>
      <p class="lead">
        Discover and share delicious recipes with the community.
      </p>
    </div>
    <h2>Latest Recipes</h2>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <%latestRecipes.forEach(function(recipe){ %> 
        <%-include('recipe_card',{recipeDetails: recipe}) %> 
      <% }); %> 
    </div>
  </div>
</main>
<%- include('footer') -%>
