<%- include('head',{pageTitle:'Login'}) -%>
<head>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<!-- start: content -->
<main>
  <div class="container">
    <div class="row">
      <a class="text-decoration-none backbutton" href="/">
        <i class="bi bi-arrow-left-circle"></i><span>Back</span>
      </a>
      <div class="col-xs-12 text-center">
        <h2>Login or Register</h2>
      </div>
      <div class="col-md-push-3 col-md-6 col-xs-12 m-auto">
        <form method="post" >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Username"
            />
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="mt-3 row justify-content-around">
            <button type="submit" formaction="/login" class="col-3 btn btn-primary btn-dark">Login</a>
            <button type="submit" formaction="/register" class="col-3 btn btn-outline-secondary">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
