<%- include('head',{pageTitle:'Saved Recipes'}) -%>
<!-- start: content -->
<%- include('navbar',{authenticated:true,userId:_userId}) %>
<main>
  <div class="container">
    <h1>Saved Recipes</h1>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <%savedRecipes.forEach(function(recipe){ %> 
        <%-include('recipe_card',{recipeDetails: recipe,userId:_userId}) %> 
      <% }); %> 
    </div>
  </div>
</main>
<!-- end: content -->
<%- include('footer') -%>
