.recipe-container {
  margin: 20px;
}
.recipe-image {
  max-width: 300px;
}
.recipe-ingredients {
  margin-top: 10px;
}

.publisher-link{
  text-decoration: none;
  color: inherit;
}

.add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
}

.add-button > span {
  margin-left: 0.5rem;
  width: fit-content;
}
